$fontFamily: 		'Lucida Grande', Helvetica, Verdana, sans-serif;
$borderStyle:  		#999999 thin solid;
$smallPadding: 		5px;
$redColor:			rgba(226, 0, 0, 1);
$blueColor:			rgba(0, 161, 226, 1);
$blueColorAlpha:			rgba(0, 161, 226, 0.1);
$redColorAlpha:			rgba(226, 0, 0, 0.1);